<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home|Dasboard</title>
</head>
<body>
    <h1>
        Welcome to Placement Cell
    </h1>
    <form action="/signout" method="post">
        <% if(userEmail) {%>
        <input type="submit" name="signout" value="Sign Out">
        <% }%>
        <% else {%>
            <input type="submit" name="signin" value="Sign In">
            <% }%>

    </form>
</body>
</html>